.animate-right {
    position: relative;
    animation: animateright 0.7s
}

@keyframes animateright {
    from {
        right: -200px;
        opacity: 0
    }

    to {
        right: 0;
        opacity: 1
    }
}

.animate-left {
    position: relative;
    animation: animateleft 0.7s
}

@keyframes animateleft {
    from {
        left: -200px;
        opacity: 0
    }

    to {
        left: 0;
        opacity: 1
    }
}

.animate-top {
    position: relative;
    animation: animatetop 0.7s
}

@keyframes animatetop {
    from {
        top: -200px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}


.animate-fading {
    animation: fading 2s infinite
}

@keyframes fading {
    0% {
        opacity: 0
    }

    50% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

.animate-opacity {
    animation: opac 0.8s
}

@keyframes opac {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}



.animate-bottom {
    position: relative;
    animation: animatebottom 0.7s
}

@keyframes animatebottom {
    from {
        bottom: -200px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

.animate-zoom {
    animation: animatezoom 0.6s
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

.animate-input {
    transition: width 0.7s ease-in-out
}
